/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STANDARD */
body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

/* HEADER */
header {
  position: relative;
  background-color: rgb(31, 51, 91);
  overflow: hidden;
  color: white;
  height: 80vh;
}
header>img {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 70%;
}

nav {
  position: relative;
  height: 10vh;
  font-size: 0.7em;
  line-height: 10vh;
  vertical-align: middle;
}
nav>img {
  margin-right: 5%;
}

header li {
  display: inline-block;
  margin: 0 5px;
  padding: 0.5em;
}
header a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

nav>img {
  height: 6vh;
}

header .container nav {
  vertical-align: middle;
}

.banner {
  position: relative;
  height: 50vh;
}
.banner_content {
  position: absolute;
  bottom: 15vh;
  left: 2%;
  width: 50%;
}
.banner h1 {
  font-size: 2em;
  margin-bottom: 3vh;
}

.button_style {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.green {
  border-style: none;
  background-color: rgb(90, 201, 72);
  color: white;
}

.grey {
  line-height: 6vh;
  vertical-align: middle;
  background-color: lightgrey;
}

main .grey .container {
  display: inline-block;
  margin: 3vh 0;
  text-align: center;
}
.grey .container h4 {
  color: grey;
}

.col {
  float: left;
  width: 33.3333%;
  padding: 3%;
  text-align: center;
  color: grey;
  font-weight: bold;
}
.col img {
  height: 25vh;
}
.col h1 {
  color: rgb(90, 201, 72);
  margin: 5vh 0;
}
.col hr {
  width: 40%;
  margin: 5vh auto;
}

main > hr {
  color: grey;
}

.col_bottom {
  float: left;
  width: 50%;
  padding: 5%;

}
.col_bottom img {
  width: 100%;
}
.col_bottom p {
  margin: 3vh 0;
  color: grey;
  font-weight: bold;
  line-height: 1.5em;

}
.bottom_dx {
  line-height: 2em;
}
.bottom_dx a {
  color: rgb(9, 37, 140);
}

/* FOOTER */
footer {
  height: 150px;
}

footer .right {
  color: grey;
}

footer h1 {
  vertical-align: middle;
  line-height: 100px;
}

footer ul {
  margin-top: 20px;
}

footer li {
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}

footer .right ul li:nth-child(2) {
  position: relative;
  width: 180px;
  border-bottom: 1px solid grey;
}

footer i {
  position: absolute;
  right: 0;
  bottom: 1em;
}

footer .green:first-child {
  padding: 20px;
  text-decoration: none;
}

.fix {
  position: fixed;
  right: 12%;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  padding: 5px 15px 0 15px;
}
